doctype html
html
  head
    title fruuf.me
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    link(rel="manifest" href="/static/manifest.json")
    link(rel="stylesheet" href=bundleCss)
  body
    #render
    script(src=bundleJs)
